<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Boot Demo Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Por favor, introduzca email y password: </h1>
<form action="#" th:action="@{/demo/web/login}" th:object="${user}" method="post">
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
