feign:
  client:
    config:
      default:
        connectTimeout: 50000
        readTimeout: 50000
        loggerLevel: BASIC

post-client-server: https://jsonplaceholder.typicode.com/
feign-client-log-level: FULL

